<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Material</title>
</head>
<body>
<div>
    <h1>List Material</h1>
    <form>
        Search by name:
        <input name="s" type="text"/>
        <input type="submit" value="Search"/>
    </form><br/>
    <p>
        <a href="/create-c">Create new</a>
    </p>
    <table border="1">
        <tr>
            <td>acr</td>
            <td>population</td>
            <td>GDP</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Supplier</td>
            <td colspan="2">Change</td>
        </tr>
        <th:block th:each="customer : ${customer}">
            <tr>
                <td th:text="${customer.acr}"></td>
                <td th:text="${customer.population}"></td>
                <td th:text="${customer.GDP}"></td>
                <td th:text="${customer.description}"></td>
                <td th:text="${city.customer.name}"></td>
                <td><a th:href="@{/edit-customer/__${customer.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-customer/__${customer.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
    <div>
        <a th:href="@{'/customers'(page=${customer.number - 1})}" th:if="${customer.hasPrevious()}">Previous</a>
        <span th:text="${customer.number + 1}"></span>/<span th:text="${m.totalPages}"></span>
        <a th:href="@{'/materials'(page=${customer.number + 1})}" th:if="${customer.hasNext()}">Next</a>
    </div>
</div>
</body>
</html>