<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div>
    <h1>List </h1>
    <p>
        <a href="/create-supplier">Create new</a>
    </p>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>country</td>
            <td colspan="2">Change</td>
        </tr>
        <th:block th:each="city : ${city}">
            <tr>
                <td th:text="${city.name}"></td>
                <td th:text="${city.country}"></td>
                <td><a th:href="@{/edit-city/__${city.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-city/__${city.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>